/* body{
    background-color: rgb(18, 84, 84);
}
#home_page{
    background-color: rgb(191, 238, 131);
    margin: 450px;
    padding: 20px;
    margin-top: 200px;
    
    
}
button{
    border-radius: 5px;
    background-color: rgb(169, 164, 95);
    
    height: 40px;
}
#login_page{
    background-color: rgb(105, 89, 133);
    margin: 450px;
    padding: 20px;
    margin-top: 200px;
    height: 200px;
}
h3{
    background-color: rgb(187, 187, 41);
    border-radius: 5px;
    margin: 20px;
    padding: 8px;
    width: 110px;
    
}
input{
    
    border-radius: 5px;
    height: 25px;
    
}
.btn_nik{
    background-color: rgb(209, 126, 78);
    border-radius: 5px;
   width: 100px;
   height: 40px;
   
   text-align: center;
   
}
 #registration_page{
    background-color: rgb(175, 123, 27);
    margin: 450px;
    padding: 30px;
    margin-top: 200px;
    height: 400px;   
    text-align: center;
    
}
.user-reg{
    width: 200px;
}
#adminlogin_page{
    background-color: rgb(223, 220, 49);
    margin: 450px;
    padding: 20px;
    margin-top: 250px;
    height: 250px;
}
*/
